/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* REGOLE GENERALI */
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    position: relative;
}
main{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #141922;
    display: flex;
}
aside{
    width: 250px;
    min-height: 400px;
    background-color: black;
    overflow: hidden;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: calc((100% / 6) - 10px);
    background-color: chocolate;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
/* MAIN */
.content{
    width: calc(100% - 250px);
    overflow: auto;
}
.upgrade{
    position: sticky;
    top:0;
    z-index: 29;
    background-color: rgba(8,11,18,0.5);
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}
#recently , #for-you , #artists{
    padding: 0 15px;
    margin-bottom: 30px;
}
.nav-bar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nav-bar > ul > li{
    list-style: none;
    display: inline-block;
    margin: 20px 30px;
}
.nav-bar > ul > li > a{
    text-decoration: none;
    color: grey;
}
/* ASIDE */
.nav-top{
    height: calc(100% - 80px);
    background-color: orange;
    display: flex;
    flex-direction: column;
}
.main-menu a img{
    width: 30px;
    vertical-align: middle;

}
.main-menu a{
    text-decoration: none;
    color: gray;
    padding-left:  20px;
    border-left: 4px solid transparent;
}
.active{
    border-left: 4px solid greenyellow;
}
.main-menu li{
    padding: 5px 0;

}
.nav-bottom{
    height: 80px;
    background-color: blue;
}
.playlists{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.playlist-list{
    height: 100%;
    overflow: auto;
}
.logo{
    padding: 20px;
}
.large-logo{
    width: 70%;
}
.small-logo{
    display: none;
}
/* FOOTER */
.playing , .player , .audio{
    background-color: chocolate;
    padding: 30px;
}
/* RESPONSIVE */
@media screen and (max-width: 1100px) {
    .card{
        width: calc((100% / 4) - 10px);
    }
}
@media screen and (max-width: 700px) {
    .card{
        width: calc((100% / 2) - 10px);
    }
}
@media screen and (max-width: 600px) {
    aside{
        width: 50px;
    }
    .logo{
        padding: 4px 8px;
    }
    .small-logo{
        display: block;
    }
    .large-logo , .main-menu a span, .playlists{
        display: none;
    }
    
    .content{
        width: calc(100% - 50px);
    }
}