/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* REGOLE GENERALI */
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    position: relative;
}
main{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #141922;
    display: flex;
}
aside{
    width: 250px;
    min-height: 400px;
    background-color: black;
    overflow: hidden;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: calc((100% / 6) - 10px);
    min-height: 100px;
    margin-right: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.card:hover{
    cursor: pointer;
}
.img-container{
    width: 100%;
    position: relative;
    display: block;
}
.img-container img{
    width: 100%;
    display: block;
}
.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    font-size: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.img-container:hover .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card h3 , .card p{
    text-align: center;
}
.card h3{
    color: white;
    margin:10px;
}
.card p{
    color: gray;
}
/* MAIN */
.content{
    width: calc(100% - 250px);
    overflow: auto;
}
.do-upgrade{
    padding: 10px 30px;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.upgrade{
    position: sticky;
    top:0;
    z-index: 29;
    background-color: rgba(8,11,18,0.5);
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}
#recently , #for-you , #artists{
    padding: 0 15px;
    margin-bottom: 30px;
}
#recently h2 , #for-you h2, #artists h2 {
    margin: 10px 0;
    color: white;
}
#recently p , #for-you p, #artists p {
    margin-bottom: 40px;
    color: gray;
}
#artists .img-container > img{
    border-radius: 50%;
}
.nav-bar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nav-bar > ul > li{
    list-style: none;
    display: inline-block;
    margin: 20px 30px;
}
.active-bottom{
    border-bottom: 4px solid greenyellow;
}
.nav-bar > ul > li > a{
    text-decoration: none;
    color: grey;
}
/* ASIDE */
.nav-top{
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
}
.main-menu a img{
    width: 30px;
    vertical-align: middle;
}
.main-menu a{
    text-decoration: none;
    color: gray;
    padding-left:  20px;
    border-left: 4px solid transparent;
}
.active{
    border-left: 4px solid greenyellow;
}
.active a span {
    color: white;
}
.main-menu li{
    padding: 5px 0;
}
.nav-bottom{
    height: 80px;
}
.playlists{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 20px;
}
.playlists h4 {
    color: white;
    margin: 5px 0;
    font-size: 20px;
}
.create-playlist{
    margin: 5px 0;
    height: 60px;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: gray;
}
.create-playlist button{
    font-size: 30px;
    width: 35px;
    margin-right: 4px;
}
.create-playlist button:hover{
    cursor: pointer;
}
.playlist-list{
    height: 100%;
    overflow: auto;
}
.playlist-list li{
    margin: 7px 0;
}
.playlist-list li a{
    text-decoration: none;
    color: gray;
}
.logo{
    padding: 20px;
}
.large-logo{
    width: 70%;
}
.small-logo{
    display: none;
}
.nav-bottom img{
    width: 20px;
    vertical-align: middle;
}
.nav-bottom div{
    margin-left: 20px;
    margin-top: 10px;
    color: gray;
}
.nav-bottom hr{
    margin-top: 7px;
    width: 80%;
    margin-left: 20px;
    height: 1px;
    background-color: gray;
}
/* FOOTER */
.playing , .player , .audio{
    background-color: chocolate;
    padding: 30px;
}
/* RESPONSIVE */
@media screen and (max-width: 1100px) {
    .card{
        width: calc((100% / 4) - 10px);
    }
}
@media screen and (max-width: 700px) {
    .card{
        width: calc((100% / 2) - 10px);
    }
}
@media screen and (max-width: 600px) {
    aside{
        width: 50px;
    }
    .logo , .main-menu a{
        padding: 4px 8px;
    }
    .small-logo{
        display: block;
    }
    .active{
        border: none;
    }
    .large-logo , .main-menu a span, .playlists , .nav-bottom{
        display: none;
    }
    
    .content{
        width: calc(100% - 50px);
    }
}