/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* REGOLE GENERALI */
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
/* ASIDE */
aside{
    width: 10%;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
}
.sections> ul {
    list-style: none;
}
.sections > ul > li , .create-playlist, .create-playlist > h3, .create-playlist > span , .playlists, .playlists > ul > li {
    padding: 10px 0;
}
.sections > ul > li > a , .playlists > ul > li > a , .create-playlist > h3 , .create-playlist > span{
    padding-left: 20px;
}
.create-playlist > span > button {
    width: 20%;
    height: 100%;
}
.sections > ul > li > a , .playlists > ul > li > a ,.create-playlist > span{
    text-decoration: none;
    color: gray;
}